@font-face {
    font-family: 'sixstringslogo';
    src: url('../assets/fonts/sixstringslogo.eot?eap0ql');
    src: url('../assets/fonts/sixstringslogo.eot?eap0ql#iefix') format('embedded-opentype'), url('fonts/sixstringslogo.ttf?eap0ql') format('truetype'), url('fonts/sixstringslogo.woff?eap0ql') format('woff'), url('fonts/sixstringslogo.svg?eap0ql#sixstringslogo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sixstringslogo' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?1ktavu');
    src: url('../assets/fonts/icomoon.eot?1ktavu#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?1ktavu') format('truetype'), url('fonts/icomoon.woff?1ktavu') format('woff'), url('fonts/icomoon.svg?1ktavu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../assets/fonts/Raleway-ExtraBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: sixstrings;
    src: url('../assets/fonts/sixstrings.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../assets/fonts/Raleway-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('../assets/fonts/Quicksand-Bold.woff2') format('woff2'), url('../assets/fonts/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('../assets/fonts/Quicksand-Light.woff2') format('woff2'), url('../assets/fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandMed';
    src: url('../assets/fonts/Quicksand-Medium.woff2') format('woff2'), url('../assets/fonts/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandReg';
    src: url('../assets/fonts/Quicksand-Regular.woff2') format('woff2'), url('../assets/fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quicksandregular";
    src: url("font/Quicksand-Regular.eot");
    /* IE9 Compat Modes */
    src: url("font/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/Quicksand-Regular.otf") format("opentype"), /* Open Type Font */
    url("font/Quicksand-Regular.svg") format("svg"), /* Legacy iOS */
    url("font/Quicksand-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/Quicksand-Regular.woff") format("woff"), /* Modern Browsers */
    url("font/Quicksand-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('fontello/fontello.eot?26027922');
    src: url('fontello/fontello.eot?26027922#iefix') format('embedded-opentype'), url('fontello/fontello.woff?26027922') format('woff'), url('fontello/fontello.ttf?26027922') format('truetype'), url('fontello/fontello.svg?26027922#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}