:root {
    --accent: rgb(252, 213, 85);
    --accent2: rgb(175, 142, 84);
}

@font-face {
    font-family: 'sixstringslogo';
    src: url('fonts/sixstringslogo.eot?eap0ql');
    src: url('fonts/sixstringslogo.eot?eap0ql#iefix') format('embedded-opentype'), url('fonts/sixstringslogo.ttf?eap0ql') format('truetype'), url('fonts/sixstringslogo.woff?eap0ql') format('woff'), url('fonts/sixstringslogo.svg?eap0ql#sixstringslogo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sixstringslogo' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?1ktavu');
    src: url('fonts/icomoon.eot?1ktavu#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?1ktavu') format('truetype'), url('fonts/icomoon.woff?1ktavu') format('woff'), url('fonts/icomoon.svg?1ktavu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    font-family: Raleway;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.underline {
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.underline:after {
    position: absolute;
    left: 0px;
    width: 100%;
    content: '';
    height: 4px;
    bottom: -10px;
    background: var(--accent);
}

.underline:hover:after {
    width: 100%;
    background: orange;
}

body {
    -background-color: rgb(96, 96, 97);
    width: 100%;
    min-width: 300px;
}

p {
    font-size: 0.75rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: 0.06em;
    margin: 0rem 0px 1rem 0px;
    color: #444;
}

em {
    display: block;
    font-size: .8em;
    font-weight: 100;
    color: rgb(131, 131, 131);
    -padding-top: .4rem;
}

h1 {
    font-family: Raleway-bold;
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.055em;
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.055em;
    margin: 0px;
}

h3 {
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.055em;
    margin: 0px 0px 0px 0px;
    color: rgb(175, 142, 84);
}

h4 {
    font-size: .8rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.12em;
    margin: 0px;
    color: rgb(27, 27, 27);
}

button {
    width: 150px;
    margin: 35px auto;
    padding: 12px;
    background: transparent;
    outline: none;
    border: 2px solid var(--accent);
    border-radius: 5px;
    color: rgb(175, 142, 84);
    font-weight: 600;
    cursor: pointer;
}

.l2 {
    font-family: 'sixstringslogo';
    position: relative;
    left: -5px;
    margin: 0px;
    padding: 0px;
    font-size: 1.25em;
    color: rgb(253, 251, 251);
    -border: 1px solid red;
}

.navlogo {
    font-family: 'sixstringslogo';
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    color: #ddd;
}


/* Default page rules collapsed */

.wrapper {
    -display: grid;
    width: 100%;
    grid-template-columns: 1% 1fr auto 1fr 1%;
    grid-template-rows: 40px 300px 3vw auto auto auto auto 50px 300px;
}

.bodyCover {
    position: fixed;
    -top: 50px;
    -background-image: url("../images/other/Image028.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    width: 100%;
    height: 100%;
    z-index: -1;
    -opacity: .8;
    -background-color: #000;
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-end;
    padding: 0px 0px 0px 0px;
    width: 94%;
    margin: 0px auto;
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: center;
    background: transparent;
}

nav div {
    color: rgb(248, 246, 246);
    font-size: 0.7rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 2;
}

nav div:nth-child(1) {
    -margin-right: auto;
}

header {
    background-image: url('../images/MUSIC/Image221.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    -border-radius: 2px;
    margin: 0px auto 0px auto;
    background-color: rgb(187, 185, 185);
    grid-column: 2/5;
    grid-row: 2/3;
}

.headBlock {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    grid-row: 3/6;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.headBlock * {
    margin: 0px;
    padding: 0px;
}

.pageTitle {
    text-align: center;
    color: #bbb;
}

.thin {
    font-weight: 100;
    color: rgb(235, 235, 233);
}

.pageSubTitle {
    text-align: center;
    color: var(--accent);
    font-weight: 300;
    letter-spacing: .06em;
}

.pageSubSubTitle {
    text-align: center;
    color: #444;
    letter-spacing: .06em;
    font-weight: 300;
}

.socLinks {
    display: flex;
    gap: 15px;
    grid-row: 7/8;
    grid-column: 1/-1;
    justify-content: center;
    margin-top: 5px;
    z-index: 2;
}

.socLinks div {
    font-family: "icomoon";
    font-size: 1.2rem;
    display: flexbox;
    color: rgb(185, 185, 185);
    cursor: pointer;
    font-weight: 200;
}

.fb::before {
    content: "\ea91";
}

.tw::before {
    content: "\ea96";
}

.ins::before {
    content: "\ea92";
}

.bodyTitle {
    text-align: center;
    width: 90%;
    max-width: 50ch;
    margin: 0px auto;
    color: #444;
    font-size: 1rem;
    padding: 20px;
}


/* Header collapsed */

.overlay2 {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
    z-index: 1;
    grid-column: 1/-1;
    grid-row: 1/-1;
    opacity: .5;
}

.container {
    position: relative;
    -background-color: rgb(247, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding: 30px 10px 0px 10px;
    min-height: 400px;
    max-width: 850px;
    margin: 20px auto 0px auto;
    row-gap: 35px;
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 4;
}

.cell1 {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    padding: 20px 5% 20px 10px;
    min-width: 250px;
    max-width: 600px;
    -border: 1px solid rgb(206, 206, 206);
}

.dropcap1::first-letter {
    padding-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--accent2);
}

.cell2 {
    background-image: url('../images/MUSIC/Image244.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 10%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    min-height: 250px;
    max-width: 400px;
    min-width: 250px;
}

.cell2 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    -border: 1px solid red;
}

.cell3 {
    position: relative;
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 250px;
    min-width: 250px;
    max-width: 700px;
    min-height: 250px;
    min-height: 250px;
    max-height: 400px;
    padding: 0px;
    background-color: rgb(140, 140, 141);
}

.cell3Text {
    display: flex;
    flex-direction: column;
    row-gap: 0PX;
    padding: 10%;
    width: 100%;
    margin: 0px auto;
    -border: 1px solid red;
    justify-content: center;
}

.cell3Text>h3 {
    color: #fff;
}

.cell3Text p {
    color: rgb(228, 226, 226);
}

.expand-1,
.read-less {
    color: rgb(240, 202, 33);
    cursor: pointer;
    align-self: flex-end;
}

.expanded-1 {
    position: relative;
    background-image: url('../images/slides_3/slide006.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0px auto;
    background-color: rgb(7, 7, 7);
    column-gap: 40px;
}

.expanded-1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 7);
    opacity: .7;
}

.expanded-1-cell1 {
    padding: 5%;
    max-width: 70ch;
}

.expanded-1 p {
    color: rgb(236, 234, 234);
    position: relative;
}

.expanded-1 h3 {
    color: rgb(236, 234, 234);
}

.close-1 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 6;
    cursor: pointer;
}

.central-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    width: auto;
    flex-grow: 0;
    flex-basis: auto;
    overflow: hidden;
    padding: 2% 5% 2% 5%;
    border-radius: 5px;
    -border: 1px solid red;
    margin-top: 0vw;
}

.central-image h3 {
    padding-bottom: 10px;
    text-align: left;
    margin-left: 0%;
}

.central-image P {
    padding-bottom: 10px;
    -color: var(--accent);
    text-align: left;
    margin-left: 0%;
    align-self: flex-start;
    max-width: 90ch;
}

.cell4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 950px;
    padding: 2% 5% 0px 5%;
    margin: 0px auto;
    background: none;
    -border: 1px solid red;
}

.cell4-header {
    text-align: left;
    margin: 0px auto;
    width: 90%;
    max-width: 800px;
    max-width: 90ch;
    padding: 0px 4% 0px 4%;
}

.cell4-header p {
    text-align: left;
    max-width: 90ch;
    padding: 0px 2% 0px 2%;
}

.cell4-cell1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 400px;
    min-width: 300px;
    max-width: 600px;
    flex-grow: 1;
    flex-basis: 50%;
    overflow: hidden;
    padding: 4%;
    border-radius: 5px;
    -border: 1px solid red;
}

.cell4-cell1 img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.p-top-space {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.cell4-footer {
    text-align: center;
    max-width: 50ch;
    margin: 0px auto;
    padding: 20px 10px 20px 10px;
}

#drop1Up,
#drop2Up,
#dropDown1,
#dropDown2 {
    display: none;
}

#locate {
    width: 90%;
    max-width: 700px;
    margin: 30px auto 40px auto;
}

#googleMap {
    width: 90%;
    max-width: 700px;
    margin: 20px auto 40px auto;
    border: 1px solid rgb(205, 206, 206);
    border-radius: 4px;
}


/* .container 'collapsed'*/

.footnote {
    margin: 10px auto 60px auto;
    max-width: 50ch;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 7/8;
    align-self: center;
}

.footnote p {
    color: rgb(175, 142, 84);
}

footer {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    width: 100%;
    height: 300px;
    background-color: rgb(26, 25, 25);
    justify-items: center;
    align-content: center;
    grid-column: 1/-1;
    grid-row: -1/-2;
    color: azure;
}

footer* {
    color: #fff;
}

footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    cursor: pointer;
}

.address {
    display: flex;
    grid-column: 1 /-1;
    grid-row: 4/5;
    color: bisque;
}

.address p {
    color: #ddd;
}

.socialIcons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footerSocial {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 3/5;
    justify-content: center;
    margin-top: 5px;
}

.footerSocial p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    color: #ddd;
}

.footerSocial div {
    font-family: "icomoon";
    font-size: 1.2rem;
    display: flexbox;
    cursor: pointer;
    font-weight: 200;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    grid-row: 5/6;
    grid-column: 1/-1;
    text-align: center;
    display: block;
}

@media screen and (max-width:500px) {
    nav {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        width: 94%;
        margin: 0px auto;
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
        background: transparent;
    }
    nav div {
        color: rgb(248, 246, 246);
        font-size: 0.7rem;
        font-weight: 100;
        cursor: pointer;
        z-index: 2;
    }
    .pageTitle {
        text-align: center;
        color: #bbb;
        font-size: 1.75rem;
    }
    .thin {
        font-weight: 100;
        color: rgb(235, 235, 233);
    }
    .pageSubTitle {
        text-align: center;
        color: var(--accent);
        font-weight: 300;
        letter-spacing: .06em;
    }
    .pageSubSubTitle {
        text-align: center;
        color: #444;
        letter-spacing: .06em;
        font-weight: 300;
    }
    .container {
        position: relative;
        -background-color: rgb(247, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 30px;
        padding: 30px 10px 0px 10px;
        min-height: 400px;
        max-width: 850px;
        margin: 0px auto;
        -row-gap: 35px;
        grid-column: 3/4;
        grid-row: 4/5;
        z-index: 4;
    }
    .cell1 {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 250px;
        padding: 20px 1.5% 0px 1.5%;
        width: 98%;
        min-width: 250px;
        max-width: 600px;
    }
    .cell1 p {
        margin-top: 2.25rem;
    }
    .cell2 {
        background-image: url('../images/MUSIC/Image244.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 250px;
        min-height: 250px;
        max-width: 400px;
        min-width: 250px;
        position: relative;
        top: -20px;
        -border: 1px solid red;
    }
    .cell2 img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid red;
    }
    .cell3 {
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        min-width: 250px;
        max-width: 700px;
        padding: 0px;
        background-color: rgb(140, 140, 141);
    }
    .cell3Text {
        display: flex;
        flex-direction: column;
        row-gap: 0PX;
        -padding: 10%;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
    }
    .cell3Text>h3 {
        color: #fff;
    }
    .cell3Text p {
        color: rgb(228, 226, 226);
    }
    .expanded-1 {
        position: relative;
        background-image: url('../images/slides_3/slide006.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 20px auto;
        background-color: rgb(7, 7, 7);
        column-gap: 40px;
    }
    .central-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        flex-grow: 1;
        flex: 1;
        flex-basis: auto;
        overflow: auto;
        padding: 2%;
        border-radius: 5px;
    }
    .central-image h3 {
        padding-bottom: 10px;
        text-align: left;
        margin-left: 0%;
        align-self: flex-start;
    }
    .central-image P {
        padding-bottom: 10px;
        -color: var(--accent);
        text-align: left;
        margin-left: 0%;
        align-self: flex-start;
        max-width: 90ch;
    }
    .cell4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 950px;
        padding: 2% 0% 0px 0%;
        margin: 0px auto;
        background: none;
        -border: 1px solid red;
    }
}